<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BaseballDB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>The Main Servlet(Parent Servlet)</description>
    <display-name>BaseballServlet</display-name>
    <servlet-name>BaseballServlet</servlet-name>
    <servlet-class>BaseballServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseballServlet</servlet-name>
    <url-pattern>/BaseballServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Staff Table.</description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Owner's Table.</description>
    <display-name>OwnerServlet</display-name>
    <servlet-name>OwnerServlet</servlet-name>
    <servlet-class>OwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerServlet</servlet-name>
    <url-pattern>/OwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The BallPark Table.</description>
    <display-name>BallparkServlet</display-name>
    <servlet-name>BallparkServlet</servlet-name>
    <servlet-class>BallparkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BallparkServlet</servlet-name>
    <url-pattern>/BallparkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Teams' Table.</description>
    <display-name>TeamServlet</display-name>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/TeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Agent Table.</description>
    <display-name>AgentServlet</display-name>
    <servlet-name>AgentServlet</servlet-name>
    <servlet-class>AgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentServlet</servlet-name>
    <url-pattern>/AgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Player Table.</description>
    <display-name>PlayerServlet</display-name>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>PlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/PlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Division Table.</description>
    <display-name>DivisionServlet</display-name>
    <servlet-name>DivisionServlet</servlet-name>
    <servlet-class>DivisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionServlet</servlet-name>
    <url-pattern>/DivisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The First Query from project 1.2</description>
    <display-name>QueryOneServlet</display-name>
    <servlet-name>QueryOneServlet</servlet-name>
    <servlet-class>QueryOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOneServlet</servlet-name>
    <url-pattern>/QueryOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Second Query from project 1.2</description>
    <display-name>QueryTwoServlet</display-name>
    <servlet-name>QueryTwoServlet</servlet-name>
    <servlet-class>QueryTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTwoServlet</servlet-name>
    <url-pattern>/QueryTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Third Query from Project 1.2</description>
    <display-name>QueryThreeServlet</display-name>
    <servlet-name>QueryThreeServlet</servlet-name>
    <servlet-class>QueryThreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryThreeServlet</servlet-name>
    <url-pattern>/QueryThreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Radio Choice for all tables.</description>
    <display-name>RadioChoiceServlet</display-name>
    <servlet-name>RadioChoiceServlet</servlet-name>
    <servlet-class>RadioChoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RadioChoiceServlet</servlet-name>
    <url-pattern>/RadioChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Team ID foreign key calls this servlet from whichever table it is in.</description>
    <display-name>TeamIDServlet</display-name>
    <servlet-name>TeamIDServlet</servlet-name>
    <servlet-class>TeamIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamIDServlet</servlet-name>
    <url-pattern>/TeamIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Agent ID when pressed takes to this servlet which prints the entry from agent table corresponding to that id.</description>
    <display-name>AgentIDServlet</display-name>
    <servlet-name>AgentIDServlet</servlet-name>
    <servlet-class>AgentIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentIDServlet</servlet-name>
    <url-pattern>/AgentIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Servlet for Park ID key.</description>
    <display-name>ParkIDServlet</display-name>
    <servlet-name>ParkIDServlet</servlet-name>
    <servlet-class>ParkIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkIDServlet</servlet-name>
    <url-pattern>/ParkIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Division ID key....</description>
    <display-name>DivisionIDServlet</display-name>
    <servlet-name>DivisionIDServlet</servlet-name>
    <servlet-class>DivisionIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionIDServlet</servlet-name>
    <url-pattern>/DivisionIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Manager key.</description>
    <display-name>StaffIDServlet</display-name>
    <servlet-name>StaffIDServlet</servlet-name>
    <servlet-class>StaffIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffIDServlet</servlet-name>
    <url-pattern>/StaffIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBChangeServlet</display-name>
    <servlet-name>DBChangeServlet</servlet-name>
    <servlet-class>DBChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBChangeServlet</servlet-name>
    <url-pattern>/DBChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DivisionNew</display-name>
    <servlet-name>DivisionNew</servlet-name>
    <servlet-class>DivisionNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionNew</servlet-name>
    <url-pattern>/DivisionNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseMng</display-name>
    <servlet-name>DatabaseMng</servlet-name>
    <servlet-class>DatabaseMng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseMng</servlet-name>
    <url-pattern>/DatabaseMng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerNew</display-name>
    <servlet-name>OwnerNew</servlet-name>
    <servlet-class>OwnerNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerNew</servlet-name>
    <url-pattern>/OwnerNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffNew</display-name>
    <servlet-name>StaffNew</servlet-name>
    <servlet-class>StaffNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffNew</servlet-name>
    <url-pattern>/StaffNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamNew</display-name>
    <servlet-name>TeamNew</servlet-name>
    <servlet-class>TeamNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamNew</servlet-name>
    <url-pattern>/TeamNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerNew</display-name>
    <servlet-name>PlayerNew</servlet-name>
    <servlet-class>PlayerNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerNew</servlet-name>
    <url-pattern>/PlayerNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Delete a tuple from the table</description>
    <display-name>DivisionDelete</display-name>
    <servlet-name>DivisionDelete</servlet-name>
    <servlet-class>DivisionDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionDelete</servlet-name>
    <url-pattern>/DivisionDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BallparkDelete</display-name>
    <servlet-name>BallparkDelete</servlet-name>
    <servlet-class>BallparkDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BallparkDelete</servlet-name>
    <url-pattern>/BallparkDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerDelete</display-name>
    <servlet-name>PlayerDelete</servlet-name>
    <servlet-class>PlayerDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerDelete</servlet-name>
    <url-pattern>/PlayerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentDelete</display-name>
    <servlet-name>AgentDelete</servlet-name>
    <servlet-class>AgentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentDelete</servlet-name>
    <url-pattern>/AgentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentUpdate</display-name>
    <servlet-name>AgentUpdate</servlet-name>
    <servlet-class>AgentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentUpdate</servlet-name>
    <url-pattern>/AgentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentUpdatePartial</display-name>
    <servlet-name>AgentUpdatePartial</servlet-name>
    <servlet-class>AgentUpdatePartial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentUpdatePartial</servlet-name>
    <url-pattern>/AgentUpdatePartial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BallparkPartialUpdate</display-name>
    <servlet-name>BallparkPartialUpdate</servlet-name>
    <servlet-class>BallparkPartialUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BallparkPartialUpdate</servlet-name>
    <url-pattern>/BallparkPartialUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BallparkUpdate</display-name>
    <servlet-name>BallparkUpdate</servlet-name>
    <servlet-class>BallparkUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BallparkUpdate</servlet-name>
    <url-pattern>/BallparkUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBIDChangeServlet</display-name>
    <servlet-name>DBIDChangeServlet</servlet-name>
    <servlet-class>DBIDChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBIDChangeServlet</servlet-name>
    <url-pattern>/DBIDChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DivisionUpdatePartial</display-name>
    <servlet-name>DivisionUpdatePartial</servlet-name>
    <servlet-class>DivisionUpdatePartial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionUpdatePartial</servlet-name>
    <url-pattern>/DivisionUpdatePartial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DivisionUpdate</display-name>
    <servlet-name>DivisionUpdate</servlet-name>
    <servlet-class>DivisionUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionUpdate</servlet-name>
    <url-pattern>/DivisionUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBDirector</display-name>
    <servlet-name>DBDirector</servlet-name>
    <servlet-class>DBDirector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBDirector</servlet-name>
    <url-pattern>/DBDirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDelete</display-name>
    <servlet-name>StaffDelete</servlet-name>
    <servlet-class>StaffDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDelete</servlet-name>
    <url-pattern>/StaffDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffUpdatePartial</display-name>
    <servlet-name>StaffUpdatePartial</servlet-name>
    <servlet-class>StaffUpdatePartial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffUpdatePartial</servlet-name>
    <url-pattern>/StaffUpdatePartial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffUpdate</display-name>
    <servlet-name>StaffUpdate</servlet-name>
    <servlet-class>StaffUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffUpdate</servlet-name>
    <url-pattern>/StaffUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemDelete</display-name>
    <servlet-name>TemDelete</servlet-name>
    <servlet-class>TemDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemDelete</servlet-name>
    <url-pattern>/TemDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamUpdatePartial</display-name>
    <servlet-name>TeamUpdatePartial</servlet-name>
    <servlet-class>TeamUpdatePartial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamUpdatePartial</servlet-name>
    <url-pattern>/TeamUpdatePartial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamUpdate</display-name>
    <servlet-name>TeamUpdate</servlet-name>
    <servlet-class>TeamUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamUpdate</servlet-name>
    <url-pattern>/TeamUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerDelete</display-name>
    <servlet-name>OwnerDelete</servlet-name>
    <servlet-class>OwnerDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerDelete</servlet-name>
    <url-pattern>/OwnerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerUpdatePartial</display-name>
    <servlet-name>OwnerUpdatePartial</servlet-name>
    <servlet-class>OwnerUpdatePartial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerUpdatePartial</servlet-name>
    <url-pattern>/OwnerUpdatePartial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerUpdate</display-name>
    <servlet-name>OwnerUpdate</servlet-name>
    <servlet-class>OwnerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerUpdate</servlet-name>
    <url-pattern>/OwnerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerUpdatePartial</display-name>
    <servlet-name>PlayerUpdatePartial</servlet-name>
    <servlet-class>PlayerUpdatePartial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerUpdatePartial</servlet-name>
    <url-pattern>/PlayerUpdatePartial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerUpdate</display-name>
    <servlet-name>PlayerUpdate</servlet-name>
    <servlet-class>PlayerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerUpdate</servlet-name>
    <url-pattern>/PlayerUpdate</url-pattern>
  </servlet-mapping>
</web-app>